/* Variáveis */
* {
	--cor-banner: rgb(34, 138, 138);
	--cor-barra-banner: rgb(9, 112, 160);
	--cor-fundo-site: rgb(181, 221, 221, 0.9);
}

/* BANNER */

body {
	margin: 0;
	background: url(imagens/shopping\ pi\ edit.jpg) no-repeat;
	background-size: cover;
	min-height: 100vh;
}

#banner-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	width: 100vw;
	height: 75px;
	border-bottom: 7px solid var(--cor-barra-banner);
	background-color: var(--cor-banner);
	font-weight: 700;
}

#logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 30px;
}

#logo-link {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
}

#logo {
	height: 75px;
}

#logo-text {
	margin-left: -30px;
	font-size: 1.7rem;
	font-family: "Kaushan Script", cursive;
}

#titles-container {
	display: flex;
	column-gap: 50px;
	margin-right: 25px;
	font-family: "Fredoka", sans-serif;
	font-size: 1.1rem;
}

#titles-container a {
	text-decoration: none;
	color: white;
}

#usuário-container {
	display: flex;
	align-items: center;
	column-gap: 25px;
	font-family: "Fredoka", sans-serif;
}

#usuário-container a {
	text-decoration: underline;
	color: white;
	font-size: 0.9rem;
}

/* Main Text */

#main-text-container {
	margin: 0 auto;
	margin-top: 35px;
	padding: 20px 0px 50px 30px;
	border-radius: 75px;
	width: 60vw;
	background-color: var(--cor-fundo-site);
}

#main-text-container p {
	font-size: 1.2rem;
	font-weight: 600;
	padding-right: 100px;
	font-family: "Fredoka", sans-serif;
}

#main-text-container h2 {
	font-size: 1.7rem;
	color: var(--cor-banner);
	font-family: "Playfair Display", serif;
	margin-top: 40px;
}

/* Calculadora */

#calculadora-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "Fredoka", sans-serif;
	font-weight: 600;
	border-radius: 30px;
	padding: 20px 50px 25px 50px;
	width: 30vw;
	margin: 0 auto;
	margin-top: 50px;
	background-color: var(--cor-fundo-site);
}

#calculadora-container input {
	margin-bottom: 25px;
	width: 350px;
	border-radius: 5px;
}

#calculadora-container :nth-child(2) {
	margin-top: 10px;
}

#button {
	font-family: "Fredoka", sans-serif;
	font-weight: 900;
}

#display {
}

#display h3 {
	color: white;
	background-color: var(--cor-banner);
	width: 80vw;
	border-radius: 20px;
	padding: 10px;
	margin: auto;
	margin-top: 50px;
	border: 1px solid black;
}

#calculadora-title {
	border-bottom: 1px solid black;
}

/* LOGIN */

#login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20vw;
	height: 30vh;
	background-color: var(--cor-fundo-site);
	border-radius: 20px;
	padding: 20px 30px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 0px 0px 10px -2px black;
	font-family: "Fredoka", sans-serif;
}

#login-container p {
	margin: 0;
	font-weight: 600;
}

#login-container input {
	margin-bottom: 20px;
}

#login-container button {
	width: 75px;
	margin: 0 auto;
	font-weight: 600;
	font-family: "Fredoka", sans-serif;
}

/* CADASTRO */

#cadastro-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 30px 20px 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px -2px black;
	margin: 0 auto;
	margin-top: 50px;
	width: 30vw;
	height: 60vh;
	background-color: var(--cor-fundo-site);
	font-family: "Fredoka", sans-serif;
}

#cadastro-container p {
	margin: 0%;
}

#cadastro-container input {
	margin-bottom: 20px;
}

#cadastro-container button {
	width: 75px;
	margin: 0 auto;
	font-weight: 600;
	font-family: "Fredoka", sans-serif;
}